/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(12px);}
  to   { opacity: 1; transform: translateY(0);}
}
.animate-fade-in { animation: fade-in .4s cubic-bezier(.33,1,.68,1); }
.car-1:hover {
  background: #198754;
  color: #fff;
}
.car-2:hover {
  background: #dc3545;
  color: #fff;
}
.car-3:hover {
  background: #ffc107;
  color: #fff;
}
.car-1:hover .iconCar,
.car-2:hover .iconCar,
.car-3:hover .iconCar {
  color: #fff !important;
}
.car-1:hover .card-title,
.car-2:hover .card-title,
.car-3:hover .card-title {
  color: #fff !important;
}
.car-1:hover .fw-bold,
.car-2:hover .fw-bold,
.car-3:hover .fw-bold {
  color: #fff !important;
}

.car-1:hover .btn-sm,
.car-2:hover .btn-sm,
.car-3:hover .btn-sm {
  color: #fff !important;
}
.swal2-container {
  z-index: 99999 !important;
}

.flotte-modal-pub { max-width:98%; margin:40px auto; border-radius:2.5rem; background:#fff;
  border:1.5px solid #eaeaff; padding:36px 26px 26px 26px; box-shadow:0 8px 32px #6272a465; }
.titre-pubmodal { font-size:1.08rem; font-weight:700;     place-self: anchor-center;margin-bottom:16px; color:#3534aa; display:flex;align-items:center;}
.labelf { font-weight:700; color:#24245a; font-size:1.09rem; margin-bottom:8px; }
.modalfield { margin-bottom:10px; }
.modalinput { border-radius:14px !important;    border: solid 1px rgb(81, 90, 255) !important; }
.flex-btns { display:flex; gap:13px; margin-top:7px; }
.btn-pill { border:none; border-radius:999px; background:#e5e7eb; color:#3730a3; padding:8px 25px; font-weight:700; font-size:1.05rem; cursor:pointer; }
.btn-pill.selected { background:#6366f1; color:#fff; }
.input-row-answers { display:flex; align-items:center; gap:6px; margin-bottom:8px; }
.del-answer { border:none; background:none; color:#c00; font-size:1.2rem; cursor:pointer; padding:0;}
.btn-add-answer { border:none; background:#e0e7ff; color:#3730a3; border-radius:99px; padding:5px 17px; margin-top:5px; font-weight:700;}
.btn-pick { border:none; border-radius:999px; font-weight:600; font-size:1.05rem; box-shadow:0 2px 12px #e0e7ff44; padding:8px 20px; cursor:pointer; transition:.15s; }
.badges-row { display:flex; flex-wrap:wrap; margin-top:6px; gap:7px;}
.badge-pill { display:inline-flex; align-items:center; border-radius:999px; font-weight:600; font-size:15px; padding:4px 14px 4px 14px; margin-right:6px; margin-bottom:4px;}
.badge-close { border:none; background:none; color:#c00; font-size:1.12rem; margin-left:6px; cursor:pointer; }
.popover-badges { position:absolute; left:0; top:40px; background:#fff; box-shadow:0 8px 32px #6272a465; border-radius:1.25rem; padding:13px 15px 9px 15px; min-width:220px; z-index:80; }
.popover-badges-title { font-weight:700; font-size:1.04rem; margin-bottom:7px; display:flex;align-items:center;}
.popover-search { width:100%; border-radius:8px; margin-bottom:10px; border:1px solid #eee; font-size:1rem; padding:4px 8px;}
.popover-row { display:flex; align-items:center; gap:7px; padding:4px 0; font-size:1rem;}
.popover-noresult { padding:8px; color:#b91c1c; }
.popover-close { position:absolute; top:8px; right:13px; background:none; border:none; color:#888; font-size:1.15rem;}
.btn-submit-pub { width:100%; background:#6366f1; color:#fff; border:none; border-radius:999px; font-size:1.07rem; font-weight:700; padding:11px 0; margin-top:19px; box-shadow:0 3px 15px #a5b4fc44; }
.success-text { color:#10b981; margin-top:14px; text-align:center; }
.fail-text { color:#ef4444; margin-top:14px; text-align:center; }
